
@charset "UTF-8";
/* Versão para computadores */


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Madimi+One&family=Wix+Madefor+Display:wght@400..800&800&family=Yantramanav:wght@100;300;400;500;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Madimi+One&family=Noto+Sans+Tangsa:wght@400..700&family=Quicksand:wght@300..700&display=swap');


@media screen and (min-width: 769px) {

    #burguer{
        display: none;
    }

    .mobile {
        display: none; /* Oculta os elementos com a classe .mobile quando a largura da tela for maior que 993px */
    }

    *{
        font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
        font-size: 1em;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body, html{
        height: 100vh;
        background-color: white;
    }

    header {
        background-color: white;
        display: flex;
        flex-direction: row; /* Alterado para linha para os itens ficarem ao lado */
        justify-content: space-between; /* Para colocar o logotipo e os menus nas extremidades */
        align-items: center;
        padding: 20px;
    }

    .logo{
        width: 300px;
        margin-left: 80px;
    }

    menu {
        margin-left: auto; /* Isso empurrará o menu para o lado direito */
    }

    menu > ul {
        list-style-type: none;
        margin-right: 70px;
        display: flex; /* Alterado para flex para alinhar os itens lado a lado */
    }

    menu > ul > li {
        display: inline; /* Para remover a formatação de lista */
        margin-right: 25px; /* Espaçamento entre os itens do menu */
    }   

    menu > ul > li > a {
        font-family: 'Quicksand', Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: #1c1018;  
        text-decoration: none;
        border-top: none; 
        position: relative; 
        transition: color 0.4s; /*adiciona uma transição suave*/
    }

    menu > ul > li > a:hover{
        color: #3b96ff;
    }


    }

    menu > ul > li > a:hover::after { 
        text-decoration: underline; 
        animation: underlineAnim 0.8s forwards; 
        content: ''; 
        position: absolute; 
        left: 0; 
        bottom: -1px; 
        width: 100%; 
        height: 4px; 
        background-color: #3b96ff;
        animation: underlineAnim 0.8s forwards; 
        transition: color 0.4s;
  }

         @keyframes underlineAnim {
         from {
            width: 0;
            }
            to {
             width: 100%;
        }
    }


    .container1 {
        display: flex; /* Define o contêiner como flexível */
    }


    main{
        margin-left: 80px;  
        margin-bottom: 80px;
        margin-right: 80px;
    }

    .imagem1 {
        flex: 1; /* Define a imagem como flexível para ocupar o espaço restante */
        margin-right: 0px; /* Espaçamento entre a imagem e o texto */
        background-image: url(../imagens/fotos/foto_1.jpg);
        background-position: left top;
        background-size: cover;
        padding-top:  250px;
        padding-bottom: 250px;
        order: 2;
    }

    .texto1 {
        flex: 1; /* Define o texto como flexível para ocupar o espaço restante */
        background-color:#3b96ff;
        padding-top: 220px;
        padding-bottom: 220px;
        text-align: center;
        order: 1;
    }

    .texto1 > h1 {
        font-family: "BIZ UDPMincho",'Courier New', Courier, monospace;
        font-weight: normal;
        color: white;
        font-size: 3em;
        margin: 60px;
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .texto1 > p{
        font-size: 1em;
        font-weight: normal;
        font-family: 'Yantramanav', Arial, Helvetica, sans-serif;
        color:  white;
    }




    .artigo1{
        background-color:#e0e0de;
        padding-top: 60px;
        padding-bottom: 300px;
        margin-left: 80px;
        margin-bottom: 80px;
        margin-right: 80px;
        
    }

    .artigo1 >p{
        text-align: center;
        font-size: 1.4em;
        font-family: 'Prata', Times, serif;
        font-style: italic;
    }

    .artigo1 > h1{
        text-align: center;
        font-size: 4em;
        font-family: "BIZ UDPMincho",'Courier New', Courier, monospace;
        
    }

    .artigo1 > .descricao{
        text-align: center;
        font-size: 1.2em;
        font-family: 'Quicksand', Arial, Helvetica, sans-serif;
        font-weight: normal;
        line-height: 1.6;
        padding-left: 320px;
        padding-right: 320px;
        font-style: normal;
    }

    .daiana{
        display: block;
        position: relative;
        margin-top: -18%;
        
    }
    .daiana > img{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: auto;
        align-items: center;
        top: -30%;
    }

    .secoes{
        display: flex;
        margin: 80px;
    }

    .secoes > div{
        flex: 1;
        padding-top: 40px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    .div1{
        background-color: #bdffc4;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .div1 > h1{
        font-family:  "BIZ UDPMincho",'Courier New', Courier, monospace;
        font-size: 2.5em;
        font-weight: normal;
        color: #1c1018;
        padding-top: 50px;
        padding-bottom:20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div1 > p {
        font-family:'Quicksand', Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: normal;
    }

    .div2{
        background-color:#e0e0de;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .div2 > h1{
        font-family:  "BIZ UDPMincho",'Courier New', Courier, monospace;
        font-size: 2.5em;
        font-weight: normal;
        color: #1c1018;
        padding-top: 50px;
        padding-bottom:20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div2 > p {
        font-family:'Quicksand', Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: normal;
    }


    .div3{
        background-color: #bdf0ff;
        padding-top: 220px;
        padding-bottom: 150px;
    }

    .div3 > h1{
        font-family:  "BIZ UDPMincho",'Courier New', Courier, monospace;
        font-size: 2.5em;
        font-weight: normal;
        color: #1c1018;
        padding-top: 50px;
        padding-bottom:20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div3 > p {
        font-family:'Quicksand', Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: normal;
    }

    .artigos2 {
        background-color: yellow;
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex; /* Usa Flexbox para alinhar os itens em linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        margin-left: 80px;
        margin-right: 80px;
    }

    .container2{
        background-color: whitesmoke;
        padding: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .container2{
        text-align: center;
    }

    .foto1 {
        background-image: url(imagens/foto5.jpg);
        background-size: cover;
        background-position: center;
        width: 200px;
        height: 200px;
        display: block; /* Garante que a div é um bloco */
    }
    
    h2 {
        color: red;
        font-size: 1em;
        margin-top: 10px;
    }
