@charset "UTF-8";
/*Todas as denais medias*/

/*Tipical device breakpoints
pequenas telas: até 600px
celular: até 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
tv: acima de 1200px
*/

@media print { /*impressao*/

}

@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/
    body{
        background-color: yellow;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px){ /*computador*/
    body{
        background-color: red;
    }

}

@media screen and (min-width: 1200px){ /*telas grandes*/
    body{
        background-color: silver;
    }

}