@charset "UTF-8";
/*versão Mobil first*/


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Madimi+One&family=Wix+Madefor+Display:wght@400..800&800&family=Yantramanav:wght@100;300;400;500;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    background-color: white;
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo{
    padding-bottom: 20px;
    width: 300px;
}

#burguer{
    color: #2c6bff;    
}

#burguer:hover {
    color: #784b2c;
    cursor: pointer;
}

menu{
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li {
    margin-top: 5px;
    text-align: center;
}

menu > ul > li > a{
    text-decoration: none;
    border-top: 1px solid #2c6bff;  
    display: block; 
    padding: 2px 0; /* Adicione esta linha para criar um espaço entre os itens do menu */  
    font-family: 'Yantramanav', Arial, Helvetica, sans-serif;
    color: #784b2c;
}

.mobile {
    display: flex;
}


.imagem1{
    background-image: url(../imagens/fotos/Dente.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.texto1{
    background-color: #2c6bff;
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}

.texto1 h1{
    font-size: 1.9em;
    font-family: 'Prata', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white
}

.texto1 > p{
    padding-top: 50px;
    font-family: 'Yantramanav', Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    color: white
}


   

.artigo1{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #f2f2f1;
    padding-top: 100px;
    padding-bottom: 100px;
}

