@charset "UTF-8";
/*versão Mobil first*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Madimi+One&family=Wix+Madefor+Display:wght@400..800&800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
}

body{
    background-color: black;
    
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo{
    padding-bottom: 20px;
    width: 300px;
}

.nave{
    display:none;
    margin-top: 20px;
}

.nave >ul{
    list-style-type: none;
    
}

span#burger{
    color:  #82ffb2;
    font-size: 180%;
    padding-top: 20px;
    cursor: pointer;
}

span#burger:hover{
    color: #2c6bff;
    font-size: 180%;
    padding-top: 20px;
}

.nave > ul >li >a{
    display:block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Yantramanav';
    font-size: 1.1em;
    border-top: 1px solid rgb(87, 87, 87);
}

.nave > ul > li > a:hover{
    background-color:  #82ffb2
}

.inicio {
    background-color: rgb(255, 255, 255);
    text-align: center; /* Para centralizar a imagem */
    margin: auto;
}

.inicio img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da seção */
    height: auto; /* Permite que a altura seja ajustada automaticamente */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    display: block; /* Para garantir a centralização */
}

.arti-1{
    background-color: #82ffb2;
    padding-top: 100px;
    padding-bottom: 100px;
}

.arti-1 > h2{
    font-family: 'Yantramanav', Arial, Helvetica, sans-serif;
    font-weight: normal;

    font-size: 2em;
    color: black;
}

.arti-1 > p{
    color: rgb(41, 41, 41);
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    padding-top: 10px;
}