@charset "UTF-8";
/*versão Mobil first*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Madimi+One&family=Wix+Madefor+Display:wght@400..800&800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
}

body{
    background-color: black;
    
}

header{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo{
    width: 300px;
}

.menu{
    display:none;
    margin-top: 20px;
}

.menu >ul{
    list-style-type: none;
    
}

span#burguer{
    color: red;
    font-size: 180%;
    padding-top: 20px;
    cursor: pointer;
}

span#burguer:hover{
    color: rgb(94, 255, 0);
    font-size: 180%;
    padding-top: 20px;
}

.menu > ul >li >a{
    display:block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Yantramanav';
    font-size: 1.1em;
    border-top: 1px solid black;
}

.menu > ul > li > a:hover{
    background-color: orange;
}

.inicio{
    background-color: white;
}

.corpo{
    background-color: red;
    width: 90vw;
    margin: auto;
}

.inicio > img {
    width: 600px;
    height: auto;
    margin: 0 auto;
    display: block; /* Para garantir a centralização */
}